@import "include-media";

#about {
  h1 {
    padding: 50px;
  }

  span {
    // display:inline-block;
  }

  .introduction {
    padding-left: 25px;
    // display:inline-block;
  }

  .about__card {
    background-color: red;
    border-radius: 50px;
  }

  @include media(">phone", "<=tablet") {
    display: grid;
    // grid-template-rows: 1fr 1fr;
    background-color: blue;
    .about_header_container, h1, img {
      display: none;
    }
  }
}
