@import "include-media";

.vertical-timeline.vertical-timeline--animate.vertical-timeline--two-columns::before {
  background-color: black;
}

#experience {
  height: fit-content;
  @include media(">phone", "<=desktop") {
    display: flex;
    justify-content: center;
  }
}
