@import "include-media";

.homepage {
  background-image: url(../images/Polygon.svg);
  position: relative;

  .homepage_avatar {
    height: 30%;
  }

  h1 {
    font-weight: bold;
    color: white;
  }

  .typed-text {
    color: white;
    font-size: 20px;
  }

  @include media(">phone", "<=tablet") {
    display: flex;
    justify-content: center;
    align-items: center;
    .homepage_avatar {
      width: 50%;
    }
  }
}

.layer {
  position: relative;
}
