@import "include-media";

.homepage {
  background-image: url(../images/Polygon.svg);
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;

  .layer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    .homepage_avatar {
      height: 30%;
    }
  }

  h1 {
    font-weight: bold;
    color: white;
  }

  .typed-text {
    color: white;
    font-size: 20px;
  }

  @include media(">phone", "<=tablet") {
    display: flex;
    justify-content: center;
    align-items: center;
    .homepage_avatar {
      width: 50%;
    }
  }
}

.layer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
