@import "include-media";

.sidebar_left {
  height: 100vh;

  background-color: #353353;
  border-right: 2px solid #3e3c63;
  .icon {
    margin-bottom: 15px;
    margin-left: 10px;
  }

  .navigation {
    justify-content: center;
  }

  img {
    width: 100%;
  }

  a,
  span {
    color: #ebc073;
  }

  a:hover {
    color: white;
    span {
      color: inherit;
    }
  }

  span {
    margin-left: 5px;
  }

  .navigation {
    a {
      margin-top: 20px;
      margin-bottom: 20px;
      text-align: center;
    }

    span {
      display: none;
    }
  }
}

@include media(">1180px") {
  .sidebar_left {
    .navigation {
      a {
        text-align: initial;
      }

      span {
        display: inline-block;
      }
    }
  }
}

@include media(">1900px") {
  .sidebar_left {
    .navigation {
      a {
        text-align: center;
      }
    }
  }
}
