.content {
  .page {
    // background-color: #353353;
    .icon {
      margin: 10px;
      color: white;
    }
  }
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: none;
  color: inherit;
}

