@import "include-media";

.portfolio_modal {
  display: flex;
  flex-direction: column;
  position: absolute;
  background-color: red;
  width: 76%;
  height: 80vh;
  right: 4%;
  top: 10%;
}

.porfolio_grid__item {
  display: flex;
  justify-content: center;
  img {
    width: 80%;
    height: 18vh;
  }
}

@include media(">tablet") {
  .portfolio_modal {
    height: 90vh;
    right: 8%;
    top: 5%;
  }
  .porfolio_grid__item {
    img {
      height: 35vh;
    }
  }
}
